body {
    font-family: 'Arial', sans-serif;
    color: #333; 
    background-color: #f8f8f8;
}

header {
    display: flex;
    align-items: center;
    background-color: #007bff; 
    color: #fff; 
    padding: 10px;
}

header img {
    max-width: 100px;
    margin-right: 20px;
}

.header-text {
    flex-grow: 1;
}

h1, h2 {
    margin: 0;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

a {
    color: #007bff; 
    text-decoration: none;
    transition: color 0.3s; 
}

a:hover {
    color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1em;
    margin-bottom: 5px;
}

.job {
    margin-bottom: 20px;
}
